{% extends 'base.html' %}

{% block content %}

{% load widget_tweaks %}

<div class="container">
    <div class="row">
        <div class="col-xl-9 mx-auto">
            <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
                <div class="card-img-left d-none d-md-flex">
                    <!-- Background image for card set in CSS! -->
                </div>
                <div class="card-body p-4 p-sm-5">
                    <p class="text-center h1 fw-bold">PYNTEREST</p>

                    <hr class="mx-1 mx-md-4 my-4">

                    <p class="text-center small text-secondary">Register to see the best photos from your friends.</p>
                    

                    <form class="mx-1 mx-md-4" method="POST" action="{% url 'register' %}">
                        {% csrf_token %}

                        <div class="form-floating mb-3 small">
                            {% render_field form.username class="form-control" %}
                            <label>username</label>
                        </div>

                        <div class="form-floating mb-3 small">
                            {% render_field form.email class="form-control" %}
                            <label>email</label>
                        </div>

                        <div class="form-floating mb-3 small">
                            {% render_field form.first_name class="form-control" %}
                            <label>first name</label>
                        </div>

                        <div class="form-floating mb-3 small">
                            {% render_field form.last_name class="form-control" %}
                            <label>last name</label>
                        </div>

                        <div class="form-floating mb-3 small">
                            {% render_field form.password class="form-control" %}
                            <label>password</label>
                        </div>

                        <div class="mb-2 text-center">
                            <button class="btn btn-primary" type="submit">Register</button>
                        </div>

                        <hr class="my-4">

                        <div class="text-center mb-3 mb-lg-4 small fw-bold">
                            <p>Have an account? <a href="{% url 'login' %}">Login</a></p>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}